<div class="contenedor centro-trabajo animate__animated animate__backInDown">
    <h2 class="titulo">¿Cual es la empresa que has trabajado? </h2>
    <p class="parrafo">Escribe el nombre de la empresa que has trabajado.</p>
    <input #nombreInput autocomplete="off" name="nombre_empresa" [(ngModel)]="nombre_empresa" class="nombre" type="text" placeholder="Aqui va la empresa">
<div class="botones">
    <a [routerLink]="[ '/nombre-empleado' ]" class="regresar">Regresar</a>
    <button class="boton" (click)="validarEmpresa()">Continuar</button>

</div>
</div>